OPENAI_API_KEY="Get your own key"
AZURE_DEVOPS_ORG=AI-Quality-Assurance
AZURE_DEVOPS_PROJECT=AI-Quality-Assurance2
AZURE_DEVOPS_PAT=4WdY7AkgB9PIaSmuBSVoaE2YC310IgUekoFfgzccTWM4AWZ229kIJQQJ99CFACAAAAAAAAAAAAASAZDOa4Fs